<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
	<% include partials/template/header.ejs %>

	<section class="layout">
		<div class="primary">
			<div>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
		<aside class="secondary">
			<div>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</aside>
	</section>
	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
